<section id="section1" class="section1">
  <div class="container-fluid">
    <div class="row  justify-content-center">
      <div class="col-12 "  >
        <div class="moving-zone animated  zoomIn">
          <div class="popup  ">
            <div class="popup-content">
              <div class="popup-text">
                Write something about <b>Coal India</b>,<br/>
                or <b>QCI</b> here !
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
