/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/scss/_functions.scss";
// @import "~bootstrap/scss/_variables.scss";
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    margin: 0;
    background: radial-gradient(circle, #FFF, #808080);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbarOpacity{
  opacity: .9;
}
.section3, .section2, .section1{
  height: 75vw;
  border: 1px solid gray;
}
section {
  padding: 150px 0;
}
